<p><a href="account"><button type="button" class="btn btn-success" >Admin page</button></a></p>
<form action="" method="post">
        <p>Họ tên<input type="text" name="hoten"></p>
        <p>Email<input type="email" name="email"></p>
        <p>Mật khẩu<input type="text" name="matkhau"></p>
        <p>Quyền<input type="number" min="0" max="1" name="quyen"></p>
        <p>Trạng thái<input type="number"  min="0" max="1" name="trangthai"></p>
        <p><button type="submit" class="btn btn-success" >Add</button></p> 
</form>


