<p><a href="category"><button type="button" class="btn btn-success" >Admin page</button></a></p>
<form action="" method="post">
        <p>Tên danh mục <input type="text" name="category_name" value="<%=data.category[0]['TenDanhMuc']%>"></p>
        <p><button type="submit" class="btn btn-success" >Update</button></p> 
</form>


